<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="yuyu.web" type="YuYu.Components.YuYuWebConfigurationSectionGroup, YuYu.Extensions.ForWeb">
      <section name="bundleCollection" type="YuYu.Components.YuYuWebBundleCollectionConfigurationSection, YuYu.Extensions.ForWebOptimization" />
    </sectionGroup>
  </configSections>
  <yuyu.web>
    <bundleCollection>
      <bundles />
    </bundleCollection>
  </yuyu.web>
</configuration>