<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="yuyu.web" type="YuYu.Components.YuYuWebConfigurationSectionGroup, YuYu.Extensions.ForWeb">
      <section name="routeCollection" type="YuYu.Components.YuYuRouteCollectionConfigurationSection, YuYu.Extensions.ForWeb" />
      <sectionGroup name="mvc" type="YuYu.Components.YuYuMvcConfigurationSectionGroup, YuYu.Extensions.ForMvc">
        <section name="globalFilterCollection" type="YuYu.Components.YuYuMvcGlobalFilterCollectionConfigurationSection, YuYu.Extensions.ForMvc" requirePermission="false" />
        <section name="routeCollection" type="YuYu.Components.YuYuMvcRouteCollectionConfigurationSection, YuYu.Extensions.ForMvc" requirePermission="true" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <yuyu.web>
    <routeCollection>
      <routes />
    </routeCollection>
    <mvc>
      <globalFilterCollection>
        <globalFilters>
          <globalFilter type="System.Web.Mvc.HandleErrorAttribute, System.Web.Mvc" order="0" />
        </globalFilters>
      </globalFilterCollection>
      <routeCollection>
        <routes>
          <route name="Default" url="{controller}/{action}/{id}">
            <defaults>
              <property name="controller" value="Home" />
              <property name="action" value="Index" />
              <property name="id" value="UrlParameter.Optional" />
            </defaults>
          </route>
        </routes>
      </routeCollection>
    </mvc>
  </yuyu.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
