<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="yuyu.mvc" type="YuYu.Components.YuYuMvcConfigurationSectionGroup, YuYu.Extensions.ForMvc">
      <section name="globalFilterCollection" type="YuYu.Components.YuYuMvcGlobalFilterCollectionConfigurationSection, YuYu.Extensions.ForMvc" requirePermission="false" />
      <section name="routeCollection" type="YuYu.Components.YuYuMvcRouteCollectionConfigurationSection, YuYu.Extensions.ForMvc" requirePermission="true" />
      <section name="staticizeRouteCollection" type="YuYu.Components.YuYuStaticizeRouteCollectionConfigurationSection, YuYu.Staticize.ForMvc" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <yuyu.mvc>
    <globalFilterCollection>
      <filters>
        <filter type="System.Web.Mvc.HandleErrorAttribute, System.Web.Mvc" order="0" />
      </filters>
    </globalFilterCollection>
    <routeCollection>
      <routes>
        <route name="Default" url="{controller}/{action}/{id}">
          <defaults>
            <property name="controller" value="Home" />
            <property name="action" value="Index" />
            <property name="id" value="UrlParameter.Optional" />
          </defaults>
        </route>
      </routes>
    </routeCollection>
    <staticizeRouteCollection>
      <routes>
        <route name="Index" url="index.html">
          <defaults>
            <property name="controller" value="Home" />
            <property name="action" value="Index" />
          </defaults>
        </route>
      </routes>
    </staticizeRouteCollection>
  </yuyu.mvc>
</configuration>