<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="yuyu.web" type="YuYu.Components.YuYuWebConfigurationSectionGroup, YuYu.Extensions.ForWeb">
      <section name="routeCollection" type="YuYu.Components.YuYuRouteCollectionConfigurationSection, YuYu.Extensions.ForWeb" />
      <sectionGroup name="mvc" type="YuYu.Components.YuYuMvcConfigurationSectionGroup, YuYu.Extensions.ForMvc">
        <section name="globalFilterCollection" type="YuYu.Components.YuYuMvcGlobalFilterCollectionConfigurationSection, YuYu.Extensions.ForMvc" requirePermission="false" />
        <section name="routeCollection" type="YuYu.Components.YuYuMvcRouteCollectionConfigurationSection, YuYu.Extensions.ForMvc" requirePermission="true" />
        <section name="staticizeRouteCollection" type="YuYu.Components.YuYuStaticizeRouteCollectionConfigurationSection, YuYu.Staticize.ForMvc" requirePermission="false" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="YuYu.Extensions" publicKeyToken="9623a3912ff6de59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.1" newVersion="4.5.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <yuyu.web>
    <routeCollection>
      <routes />
    </routeCollection>
    <mvc>
      <globalFilterCollection>
        <globalFilters>
          <globalFilter type="System.Web.Mvc.HandleErrorAttribute, System.Web.Mvc" order="0" />
        </globalFilters>
      </globalFilterCollection>
      <routeCollection>
        <routes>
          <route name="Default" url="{controller}/{action}/{id}">
            <defaults>
              <property name="controller" value="Home" />
              <property name="action" value="Index" />
              <property name="id" value="UrlParameter.Optional" />
            </defaults>
          </route>
        </routes>
      </routeCollection>
      <staticizeRouteCollection>
        <routes>
          <route name="Index" url="index.html">
            <defaults>
              <property name="controller" value="Home" />
              <property name="action" value="Index" />
            </defaults>
          </route>
        </routes>
      </staticizeRouteCollection>
    </mvc>
  </yuyu.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
