<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="yuyu.webApi" type="YuYu.Components.YuYuWebApiConfigurationSectionGroup, YuYu.Extensions.ForWebApi">
      <section name="httpConfiguration" type="YuYu.Components.YuYuWebApiHttpConfigurationConfigurationSection, YuYu.Extensions.ForWebApi" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <yuyu.webApi>
    <httpConfiguration>
      <webApis>
        <webApi name="DefaultApi" url="api/{controller}/{id}">
          <defaults>
            <property name="id" value="UrlParameter.Optional"/>
          </defaults>
        </webApi>
      </webApis>
    </httpConfiguration>
  </yuyu.webApi>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
